{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!-- Menubar -->

<div id="header">
	<img src="/images/banner.png" alt="banner V-CaOS" width="50%" />
	<div class="menu">
        <nav class="navbar navbar-expand-md navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="navbar-nav mr-auto">
                    {{ base.html_navigation_links_entries(navigation_links) }}
                    {{ template_hooks['menu']() }}
                </ul>
            </div>
        </nav>
		</p>
	</div>
</div>

<!-- End of Menubar -->

<div class="container mt-5 page-contents" id="content" role="main">
    <div class="row">
        <!--Body content-->
        {{ template_hooks['page_header']() }}
        {% block extra_header %}{% endblock %}
        {% block content %}{% endblock %}
        <!--End of body content-->

        <footer id="footer">
            {{ content_footer }}
            {{ template_hooks['page_footer']() }}
            {% block extra_footer %}{% endblock %}
        </footer>
    </div>
</div>

{{ base.late_load_js() }}
    {% block extra_js %}{% endblock %}
{{ body_end }}
{{ template_hooks['body_end']() }}
<div id="v-footer" class="mt-5">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="cell" align="center">
        <h2>LICENZA</h2>
        <a href="https://www.gnu.org/licenses/gpl-3.0.html" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
        <img src="/images/license.png" style="border-width:0" loading="lazy" alt="Telegram" width="50" height="50" />
        </a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="cell" align="center">
        <h2>TELEGRAM</h2>
        <a href="https://t.me/valcamonicaopensource" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
        <img src="https://www.telegram.org/img/apple-touch-icon.png" style="border-width:0" loading="lazy" alt="Telegram" width="50" height="50" />
        </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="cell" align="center">
        <h2>GITHUB</h2>
        <a href="https://github.com/fatualux/v-caos" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
        <img src="https://github.com/fluidicon.png" style="border-width:0" loading="lazy" alt="Telegram" width="50" height="50" />
        </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="cell" align="center">
          <h2>AMICI</h2>
          <a href="https://www.linux.it/" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
          <img src="https://www.linux.it/assets/images/logo.png" style="border-width:0" loading="lazy" alt="Linux" />
          </a>
          <a href="https://www.ils.org/" style="border: 1px solid;" class="btn btn-outline-light btn-block" role="button" aria-pressed="true" target="_blank">
          <img src="https://www.ils.org/assets/images/italian_linux_society_round_small.png" style="border-width:0" loading="lazy" alt="GitHub" />
          </a>
        </div>
      </div>

    </div>
  </div>
  <div style="clear: both"></div>
</div>
</body>
</html>
