{#  -*- coding: utf-8 -*- #}
{% macro content() %}
<div class="col-12 col-md-3">
{{ most_recent }}
      <a href="https://livellosegreto.it/@vcaos">
        <img src="/images/mastodon.png" loading="lazy" alt="V-CaOS su Mastodon" class="img-fluid">
      </a>
      <p></p>
    <a href="https://gitlab.com/fatualux/v-caos">
        <img src="/images/gitlab.png" loading="lazy" alt="Contribuisci su Gitlab" class="img-fluid">
    </a>
</div>
{% endmacro %}

{% macro post_content(posts) %}
<div class="col-12 col-md-3">
{{ most_recent }}
      <a href="https://livellosegreto.it/@vcaos">
        <img src="/images/mastodon.png" loading="lazy" alt="V-CaOS su Mastodon" class="img-fluid">
      </a>
      <p></p>
    <a href="https://gitlab.com/fatualux/v-caos">
        <img src="/images/gitlab.png" loading="lazy" alt="Contribuisci su Gitlab" class="img-fluid">
    </a>
</div>
{% endmacro %}
